.flight-numbers{         
  width:500px;
  margin: 0;         
  text-align: center;
  font-family: Verdana;
}

.Flight-Numbers:hover {
    background-color: lightgray; 
}

#passengersName, #bookingNumber, #passengers, #booking{
  float:left;
  display:table-column;         
  width:300px; 
  height:50px;
  margin: auto;         
  text-align: center;
  font-family: Verdana;
}

#container {
  width: 850px;
  padding: auto;
  margin: auto
}


#choice{
  float:left;
  display:table-column;
  width: 600px;
  margin: 5px;
  left: 380px;
  top: 35px;
  font-style: italic;
  font-size: 10pt;
  color: grey

}